* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.blog__post {
  width: 44%;
  float: left;
  margin: 2rem;
  box-shadow:3px 5px 18px rgba(0,0,0,0.5);
}

.blog__head {
  max-width: 50%;
  color: #fff;
  background-color: #dbbc35;
}


header {
  background-color: #25a7f0;
  overflow: auto;
  padding: .5em;
}

h1 {
  color: #ffffff;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1em;

}

h2 {
  color: #fff;
  background-color: #25a7f0;
}

nav {
  float: right;
  color: #fff;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.blog {
  padding: 5rem;

}

.grid {
  display: inline-block;
}
